<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시멘틱 태그</title>
    <link rel="stylesheet" href="./02_시멘틱.css">
</head>
<body>
    <h1>시멘틱 태그</h1>

    <div class="wrap">
        <header>
            <div id="logo"></div>
            <div id="login"></div>
        </header>
        <main>
            <div id="content1"></div>
            <div id="content2"></div>
        </main>
        <footer></footer>
    </div>


</body>
</html>