<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 문서 구조 실습</title>
    <link rel="stylesheet" href="./05_웹문서구조_실습2.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div id="header_contents">
                <div id="h_content1"></div>
                <div id="h_content2"></div>
                <div id="h_content3"></div>
            </div>
            <div id="menu"></div>
        </div>
        <div id="contents">
            <div id="sidebar"></div>
            <div id="content1"></div>
            <div id="content2"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>