<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실습2</title>
    <link rel="stylesheet" href="./05_웹문서구조_실습2_풀이.css">
</head>
<body>
    
    <div id="wrap">

        <div id="header">
            <div id="header-contents">
                <div id="h_content1"></div>
                <div id="h_content2">
                    <form action="" id="search_form">
                        <div id="search_text">
                            <input type="text" name="keyword">
                        </div>
                        <div id="search_btn">
                            <input type="submit" value="검색">
                        </div>
                    </form>
                </div>
                <div id="h_content3"></div>
            </div>
            <div id="menu">
                <ul id="navi">
                    <li><a href="">JAVA</a></li>
                    <li><a href="">SQL</a></li>
                    <li>
                        <a href="">FrontEnd</a>
                        <ul>
                            <li><a href="">HTML</a></li>
                            <li><a href="">CSS</a></li>
                            <li><a href="">JavaScript</a></li>
                            <li><a href="">jQuery</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">BackEnd</a>
                        <ul>
                            <li><a href="">JDBC</a></li>
                            <li><a href="">Servlet</a></li>
                            <li><a href="">JSP</a></li>
                            <li><a href="">AJAX</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Framework</a>
                        <ul>
                            <li><a href="">MyBatis</a></li>
                            <li><a href="">SPRING</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="contents">
            <div id="sidebar"></div>
            <div id="content1"></div>
            <div id="content2">
                <div id="login_form">
                    <form action="" id="login_form_input">
        
                        <div id="login_input_id_pwd">
                            <input type="text" name="userId" placeholder="아이디" required>
                            <input type="password" name="userPwd" placeholder="비밀번호" required>
                        </div>
        
                        <div id="login_input_btn">
                            <input type="submit" value="로그인">
                        </div>
        
                    </form>
                    <div id="login_form_etc">
                        <a href="">회원가입</a>
                        <a href="">ID/PWD 찾기</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div id="footer_1">
                <a href="">이용약관</a> |
                <a href="">개인정보취급방침</a> |
                <a href="">인재채용</a> |
                <a href="">고객센터</a>
            </div>
            <div id="footer_2">
                <p id="p1">
                    강남지원 1관 : 서울특별시 강남구 테헤란로14길 6 남도빌딩 2F, 3F, 4F, 5F, 6F <br>
                    강남지원 2관 : 서울특별시 강남구 테헤란로10길 9 그랑프리 빌딩 4F, 5F, 7F <br>
                    강남지원 3관 : 서울특별시 강남구 테헤란로 130 호산빌딩 5F, 6F <br>
                    종로지원 : 서울특별시 중구 남대문로 120 대일빌딩 2F, 3F <br>
                    당산지원 : 서울특별시 영등포구 선유동2로 57 이레빌딩 (구관) 19F, 20F
                </p>
                <p id="p2">
                    Copyright © 1998-2018 KH Information Educational Institute All Right Reserved
                </p>
            </div>
        </div>

    </div>

</body>
</html>