<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 문서 구조 실습(시맨틱)</title>
    <link rel="stylesheet" href="./06_웹문서구조_실습_시맨틱.css">
</head>
<body>
    <h1>웹 문서 구조 실습(시맨틱)</h1>

    <div id="wrap">
        <header>
            <div id="header_contents">
                <div id="header_1"></div>
                <div id="header_2"></div>
                <div id="header_3"></div>
            </div>
            <nav></nav>
        </header>
        <section>
            <aside></aside>
            <article id="content_1"></article>
            <article id="content_2"></article>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>