<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<insert id="write">
		INSERT INTO BOARD
		(
			TITLE
			, CONTENT
			, ENROLL_DATE
		)
		VALUES
		(
			#{title}
			, #{content}
			, SYSDATE
		)
	</insert>
	
	<select id="selectList" resultType="com.kh.app.board.vo.BoardVo">
		SELECT *
		FROM BOARD
	</select>

</mapper>






















