html, body{
    margin: 0px;
    padding: 0px;
}

.box{
    border: 1px solid black;
    box-sizing: border-box;
}

.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}

.my-btn{
    border-radius: 10%;
}
